.header {
    grid-area: header;
}


h1 {
    font-family: 'Smooch', cursive; 
    
}

header {
    background-image: url('/imagenes/corchos-para-decorar.webp');
    background-repeat: no-repeat;
    background-size: cover;

}

