%arreglo-link {
    text-decoration: none;
    color: red;
    font-style: italic;
    font-weight: bolder;
}

%arreglo-color {
    font-size: 30px;
    color: red;
    font-style: italic;
    font-weight: bold;
}

%colores-arreglo {
    font-size: 22px;
    color:whitesmoke;
    font-style: italic;
    
}